Welcome to Datacenters!

<h1>
 <li><b><%= link_to "Languages", languages_path %></b></li>
 <li><b><%= link_to "Countries", countries_path %></b></li>
 <li><b><%= link_to "Datacenters", servercenters_path %></b></li>
 </h1>